<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block main_content %}
<div class="container-fluid">
  <div class="jumbotron">
    <h1>Create a Grocery List</h1>
      <form method="post" action="">
       <!-- <form> -->
         <div class="form-group">
           {% csrf_token %} <!-- this is to prevent Cross site Scripting -->
           {{ form | crispy }}

           <button type="submit" class="save form-actions">Save</button>
          </div>

        </form>
     </div>
   </div>

{% endblock %}
