<!DOCTYPE html>
{% load staticfiles %}

{% block styling %}
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% endblock styling %}


  {% block head_content %}
  {% endblock %}

<div class="container">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <a class="navbar-brand" href="{% url 'recipeList' %}">Recipe Management</a>
    <a class="navbar-brand" href="{% url 'groceryLists' %}">Grocery List Management</a>
    <a class="navbar-brand" href="{% url 'workInProgress' %}">Log in</a>
  </nav>
</div>
<div class="container main-content">
  {% block main_content %}
  {% endblock %}
</div>
