<!DOCTYPE html>
{% extends "base.html" %}
{% block main_content %}


<div class="container">
  <a href= "{% url 'addRecipe' %}"
    <button type="button" class="btn btn-default btn-lg">
      <span class="fa fa-plus" aria-hidden="true"> add a Recipe</span>
    </button>
  </a>
<div class="table-responsive">
  <table class="table table-hover">
    {% for recipe in recipes %}
    <tbody>
      <tr class='clickable-row' data-target="#purchaseModal">
        <form method="post">
          <input id="list_ID" name="list_ID" type="hidden" value={{recipe.id}}>
          <td>{{ recipe.name }}</td>
          <td>
            <a href="{% url 'workInProgress' %}"
              <button type="button" class="btn btn-default btn-md">
                <span class="fa fa-pencil" ></span>
              </button>
            </a>
          </td>
          <td>
            <a href="{% url 'workInProgress' %}"
              <button type="button" class="btn btn-default btn-md">
                <span class="fa fa-trash" aria-hidden="true" ></span>
              </button>
            </a>
        </td>
        <td>
        <a href="{% url 'viewRecipe' recipe.id %}"
          <button type="button" class="btn btn-default btn-md">
            <span class="fa fa-eye" aria-hidden="true" ></span>
          </button>
        </a>
    </td>
      </form>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
